name: Build
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
            extra_nix_config: experimental-features = nix-command flakes
      - name: Build
        run:  nix build -v --print-build-logs
      - uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUBTOKEN }}
          publish_dir: ./result
          publish_branch: gh-pages
