name: Build
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210429_d15a196/install
      - name: Nix Config
        run: |
          mkdir -p ~/.config/nix/
          echo '
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://hydra.iohk.io https://guilherme.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= guilherme.cachix.org-1:gCM9KYeDP7G+CaCHc8mWETo41u0XBac56D2OrTtJ2ZQ=' > ~/.config/nix/nix.conf
      - uses: cachix/cachix-action@v8
        with:
          name: guilherme
      - name: Build
        run:  nix build -v --print-build-logs
      - uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUBTOKEN }}
          publish_dir: ./result
          publish_branch: gh-pages
